Lab4_EnterpriseApp_SagrikaAggarwal/src/conf/xml-resources/web-service-references/WebServiceA/wsdl/localhost_8080/Lab4_EnterpriseApp_SagrikaAggarwal/WebServiceA.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="StudentDetails" type="tns:StudentDetails"/>

<xs:element name="StudentDetailsResponse" type="tns:StudentDetailsResponse"/>

<xs:complexType name="StudentDetails">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudentDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="course" type="tns:course" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="semester" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="courseName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="semester" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>