Lab1_WebClientSample/xml-resources/web-service-references/Products_1/wsdl/flipbits.ddns.net_8080/Lab1/Products.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="getproduct" type="tns:getproduct"/>

<xs:element name="getproductResponse" type="tns:getproductResponse"/>

<xs:element name="listing" type="tns:listing"/>

<xs:element name="listingResponse" type="tns:listingResponse"/>

<xs:complexType name="getproduct">
<xs:sequence>
<xs:element name="ProductID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getproductResponse">
<xs:sequence>
<xs:element name="Product" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
<xs:element name="saleDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listing">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listingResponse">
<xs:sequence>
<xs:element name="products" type="tns:products" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="products">
<xs:sequence>
<xs:element name="product" type="tns:product" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>